
@import url(header.css);
@import url(container.css);
@import url(sidebar.css);
@import url(main.css);
@import url(aside.css);
@import url(variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "popins", sans-serif;
}


.linkedin {
  background-color: var(--fondoPage);
  color: var(--colorFuente);
  display: flex;
  flex-direction: column;
}

/*Layout*/
.contenedor-layout {
  display: grid;
  grid-template-columns: 280px 1fr 280px;
  grid-template-rows: auto;
  grid-template-areas: 
  'sidebar main aside';
  height: 100vh;
  gap: 10px;
  padding-top: calc(56px + 20px);
}