
@import url(CSS_INDEX/header.css);
@import url(CSS_INDEX/container.css);
@import url(CSS_INDEX/sidebar.css);
@import url(CSS_INDEX/main.css);
@import url(CSS_INDEX/aside.css);
@import url(CSS_PERFIL/main_perfil.css);
@import url(CSS_PERFIL/sidebar_perfil.css);
@import url(CSS_PERFIL/footer_perfil.css);
@import url(variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.linkedin {
  background-color: var(--fondoPage);
  color: var(--colorFuente);
  display: flex;
  flex-direction: column;
}

/*Layout*/
.contenedor-layout {
  display: grid;
  grid-template-columns: 280px 1fr 280px;
  grid-template-rows: auto;
  grid-template-areas: 
  'sidebar main aside';
  height: 100vh;
  gap: 10px;
  padding-top: calc(56px + 20px);
}

/*Layout perfil*/
.contenedor-profile {
  display: grid;
  grid-template-columns: 1fr 280px;
  grid-template-rows: auto;
  grid-template-areas: 
  'profile-main profile-sidebar'
  'profile-footer profile-footer';
  height: 100vh;
  gap: 15px;
  padding-top: calc(52px + 20px);
}